//input checkbox

input[type="checkbox"] {
    appearance: none;
    margin-left: .2rem;
    width: .8em;
    height: .8em;
    border: 0.1em solid grey;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
    margin-right: .3rem;
    cursor: pointer;
  
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }